/* Fonts */
/* Colors */
/* Mobile breakpoints */
body {
  font-family: "Ubuntu", serif;
}

.btn-primary {
  background-color: #2085ff !important;
  border-radius: 20px;
  transition: all .3s;
}

.btn-primary:hover {
  background-color: #1d5dac !important;
}

.btn-nav {
  background-color: #2085ff !important;
  color: white;
  border-radius: 20px;
  padding: .375rem .75rem;
  transition: all .3s;
}

.btn-nav:hover {
  background-color: #1d5dac !important;
  color: white;
}

a {
  transition: all .3s;
}

@media screen and (max-width: 991.98px) {
  .btn-nav {
    width: 30%;
  }
  .change-language {
    width: 5%;
    margin-top: 5px;
  }
}

.change-language {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2085ff;
  transition: all .3s ease;
  height: 40px;
  width: 40px;
}

.change-language:hover {
  background-color: #2085ff;
  color: white !important;
  border: none;
}

.swiper-container {
  width: 100%;
  height: 85vh;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter span,
.counter .count {
  color: #2085ff;
}

.element {
  position: relative;
  background-color: #ddd9d9;
}

.element h2 {
  z-index: 1000;
}

.element::after {
  position: absolute;
  display: block;
  content: '';
  height: 8.9rem;
  width: 8.9rem;
  right: -4rem;
  z-index: 3;
  border-radius: 50%;
  background-color: #ddd9d9;
}

.bg-black {
  background-color: black;
}

@media all and (max-width: 374px) {
  .element::after {
    height: 12rem;
    width: 6rem;
    right: -2.95rem;
  }
}

@media all and (min-width: 374px) and (max-width: 484px) {
  .element::after {
    height: 9.7rem;
    width: 6rem;
    right: -2.95rem;
  }
}

@media all and (min-width: 772px) and (max-width: 938px) {
  .element::after {
    height: 9.7rem;
    width: 6rem;
    right: -2.95rem;
  }
}

.ofert-img {
  position: relative;
  height: 150px;
  width: 150px;
}

.ofert-img img {
  position: absolute;
  top: 25%;
  right: 50%;
}

.order-lg-2 img {
  width: 20%;
  height: 50%;
  position: absolute;
  top: 45%;
  right: 50%;
}

.img-bb8 {
  width: 20%;
  height: 80%;
  position: absolute;
  top: 35%;
  right: 50%;
}

.circle {
  position: absolute;
  top: 25%;
  right: 50%;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #ddd9d9;
}

.ofert-text span {
  color: #2085ff;
  font-size: 1.5rem;
}

.slant {
  clip-path: polygon(0% 10%, 100% 3%, 100% 83%, 0% 88%);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

@keyframes rev {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(10px) rotate(360deg);
  }
}

.round {
  border-radius: 100%;
  position: absolute;
  background-color: #e1e8ff;
  animation: orbit 4s linear infinite;
}

.rev {
  animation: rev 4s linear infinite;
}

.round1 {
  width: 30px;
  height: 30px;
  left: 10%;
  top: 60%;
  background-color: #2085ff;
}

.round2 {
  width: 50px;
  height: 50px;
  left: 25%;
  top: 15%;
}

.round3 {
  width: 20px;
  height: 20px;
  left: 30%;
  top: 15%;
}

.round4 {
  width: 50px;
  height: 50px;
  left: 40%;
  top: 3%;
  background-color: #2085ff;
}

.round5 {
  width: 20px;
  height: 20px;
  right: 5%;
  top: 55%;
}

.round6 {
  width: 10px;
  height: 10px;
  right: 30%;
  top: 15%;
  background-color: #2085ff;
}

.round7 {
  width: 40px;
  height: 40px;
  right: 20%;
  top: 20%;
  background-color: #ddd9d9;
}

.round8 {
  width: 80px;
  height: 80px;
  right: 8%;
  top: 30%;
  background-color: #ddd9d9;
}

.round9 {
  width: 40px;
  height: 40px;
  right: 7%;
  top: 70%;
  background-color: #2085ff;
}

.round10 {
  width: 30px;
  height: 30px;
  right: 35%;
  top: 5%;
}

.round11 {
  width: 30px;
  height: 30px;
  left: 8%;
  top: 35%;
}

@media screen and (max-width: 991.98px) {
  .circle {
    top: 5%;
    right: -150%;
  }
  .ofert-img img {
    top: 5%;
    right: -150%;
  }
  .img-bb8 {
    width: 100%;
    height: 100%;
    left: 160%;
    top: -10%;
  }
  .order-lg-2 img {
    width: 60%;
    height: 90%;
  }
  .round1 {
    left: 150%;
  }
  .round2 {
    left: 240%;
  }
  .round3 {
    left: 140%;
  }
  .round4 {
    left: 80%;
  }
  .round5 {
    left: 299%;
  }
  .round6 {
    left: 192%;
  }
  .round7 {
    left: 92%;
  }
  .round8 {
    left: 352%;
  }
  .round9 {
    left: 352%;
  }
  .round11 {
    left: 350%;
  }
}

@media screen and (max-width: 767.98px) {
  .circle {
    top: 5%;
    left: 20%;
  }
  .ofert-img img {
    top: 5%;
    left: 20%;
  }
  .img-bb8 {
    width: 100%;
    height: 100%;
    left: 1120%;
    top: -10%;
  }
  .order-lg-2 img {
    width: 60%;
    height: 90%;
  }
  .round1 {
    left: 33%;
  }
  .round2 {
    left: 23%;
  }
  .round3 {
    left: 18%;
  }
  .round4 {
    left: 90%;
  }
  .round5 {
    left: 12%;
  }
  .round6 {
    left: 116%;
  }
  .round7 {
    left: 112%;
  }
  .round8 {
    left: 74%;
  }
  .round9 {
    left: 97%;
  }
  .round11 {
    left: 36%;
  }
}

.slider .card {
  flex: 1;
  margin: 0 10px;
  border: none;
}

.slider .card .img-box {
  height: 35rem;
  width: 100%;
}

.slider .card .img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card span {
  color: #2085ff;
}

@media screen and (max-width: 767.98px) {
  .img-box {
    display: none;
  }
}

.about .container-fluid {
  background-color: black;
  color: white;
}

.about .container-fluid span {
  color: #2085ff;
}

.form-firm {
  background-color: #ddd9d9;
}

.form-firm img {
  height: 75%;
  width: 75%;
}

.form-message {
  color: red;
}

.errors {
  border-bottom: 1px solid #f00;
}

.logotyp .element {
  background-color: #2085ff;
  color: white;
}

.logotyp .element::after {
  background-color: #2085ff;
  height: 7.3rem;
  width: 7.3rem;
  right: -4rem;
}

@media all and (max-width: 374px) {
  .logotyp .element::after {
    height: 12rem;
    width: 6rem;
    right: -2.95rem;
  }
}

@media all and (min-width: 374px) and (max-width: 484px) {
  .logotyp .element::after {
    height: 9.6rem;
    width: 6rem;
    right: -2.95rem;
  }
}

@media all and (min-width: 769px) and (max-width: 940px) {
  .logotyp .element::after {
    height: 9.6rem;
    width: 6rem;
    right: -2.95rem;
  }
}

.map-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 20%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.content .item {
  width: 20%;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.content .item p {
  margin: 0;
}

.content .item a {
  text-decoration: none;
  color: white;
}

.content .item a:hover {
  color: #2085ff;
}

.content .item a i {
  color: #2085ff;
}

.blue-text {
  color: #2085ff;
}

@media screen and (max-width: 991.98px) {
  .item {
    font-size: 60%;
    width: 25%;
  }
  .item-4 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */