.about {
    .container-fluid {
        background-color: black;
        color: white;

        span {
            color: $primary-color;
        }
    }


    a {
        color: white;

        &:hover {
            color: $primary-color;
        }
    }
    
    
}