.counter {
    span,
    .count{
        color: $primary-color;
    }
}

.element {
    position: relative;
    background-color: $secondary-color;

    h2 {
        z-index: 1000;
    }

    &::after {
        position: absolute;
        display: block;
        content: '';
        height: 8.9rem;
        width: 8.9rem;
        right: -4rem;
        z-index: 3;
        border-radius: 50%;
        background-color: $secondary-color;
    }
}

.bg-black {
    background-color: black;
}

@media all and (max-width: 374px) {
    .element::after {
        height: 12rem;
        width: 6rem;
        right: -2.95rem;
    }
}

@media all and (min-width: 374px) and (max-width: 484px) {
    .element::after {
        height: 9.7rem;
        width: 6rem;
        right: -2.95rem;
    }
}

@media all and (min-width: 772px) and (max-width: 938px) {
    .element::after {
        height: 9.7rem;
        width: 6rem;
        right: -2.95rem;
    }
}

