.logotyp {
    .element {
        background-color: $primary-color;
        color: white;

        &::after{
            background-color: $primary-color;
            height: 7.3rem;
            width: 7.3rem;
            right: -4rem;
        }
    }
}

@media all and (max-width: 374px) {
    .logotyp{
        .element::after {
            height: 12rem;
            width: 6rem;
            right: -2.95rem;
        }
    }
}

@media all and (min-width: 374px) and (max-width: 484px) {
    .logotyp{
        .element::after {
            height: 9.6rem;
            width: 6rem;
            right: -2.95rem;
        }
    }
}

@media all and (min-width: 769px) and (max-width: 940px) {
    .logotyp{
        .element::after {
            height: 9.6rem;
            width: 6rem;
            right: -2.95rem;
        }
    }
}